﻿body {
    background-color: #dedede;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 100%;
}

footer {
    background-color: #aaaaaa;
    text-align: center;
    padding: 15px 15px 15px 15px;
    position: fixed;
    width: 100%;
}

header {
    background-color: white;
    text-align: center;
    padding: 15px 15px;
    width: 100%;
}

.button {
    background-color: #1b5875;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    padding: 5px 15px;
    float: right;
    font-size: 12px;
    border: none;
    text-decoration: none;
}

button a {
    color: white;
    background-color: #1b5875;
    text-decoration: none;
}

.title {
    margin: 25px auto;
    background-color: #2988b5;
    font-size: 18px;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px 10px;
}

.stepper {
    border-radius: 4px;
    color: white;
    background-color: #1b5875;
    border: none;
}

.jumbotron {
    background-color: white;
    width: 600px;
    height: auto;
    margin-left: 27%;
}

.li-button-complete {
    background-color: #1b5875;
    color: white;
    border-radius: 4px;
    color: white;
    border: none;
}

.line-complete {
    display: inline;
    height: 3px;
    width: 200px;
    border: none;
    background-color: #1b5875;
}

.select {
    border-radius: 5px;
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

    ul li {
        display: inline;
        margin: -2px;
    }

.line {
    display: inline;
    height: 3px;
    width: 200px;
    border: none;
    background-color: #1b5875;
}

.bottom-line li {
    margin-left: 77px;
    margin-right: 77px;
}

.firstNametxt {
    border-color: #a93a44;
    background-color: #ffe8ea;
}
.firstNamelbl {
    color: #a93a44; 
}
.lastNametxt {
    border-color: #a93a44;
    background-color: #ffe8ea;
}
.lastNamelbl {
    color: #a93a44;
}
.statelbl {
    color: #a93a44;
}
.emailtxt {
    border-color: #a93a44;
    background-color: #ffe8ea;
}
.emaillbl {
    color: #a93a44;
}
.confirmEmailtxt {
    border-color: #a93a44;
    background-color: #ffe8ea;
}
.confirmEmaillbl {
    color: #a93a44;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
       
    }

    .body-content {
        padding: 0;
    }


}
